<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
</head>
<body class=" ">

<div class="absolute z-1 ">
<video autoplay ="true" class="h-screen w-screen bg-gray-900" loop = "true" src="../../assets/instructor_video.mp4"></video>
</div>
<div class="flex flex-row justify-center pt-64 block">
<div class="  z-2 opacity-75 student " *ngIf="user != 'teacher'">
  <button class="button font-bold" (click)="setAsStudent()" *ngIf="user == ''">
    Student
  </button>

  <div class="shadow-xl p-10 bg-white max-w-xl  rounded" *ngIf="user == 'student'">
    <h1 class="text-4xl font-black mb-4">Student Login</h1>
    <div class="mb-4 relative">
      <input autofocus class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="email" type="text">
      <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="email">Email Address</label>
    </div>
    <div class="mb-4 relative">
      <input autofocus class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="password" type="password">
      <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="password">Password</label>
    </div>
    <button class="bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded">Submit</button>
  </div>
</div>
  <div class="  z-2 opacity-75  instructor block " *ngIf="user != 'student'">

    <button class="button font-bold " (click)="setAsTeacher()" *ngIf="user == ''">
      Instructor
    </button>
    <div class="shadow-xl p-10 bg-white max-w-xl  rounded" *ngIf="user == 'teacher'">
      <h1 class="text-4xl font-black mb-4">Instructor Login</h1>
      <div class="mb-4 relative">
        <input autofocus class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="email" type="text">
        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="email">Email Address</label>
      </div>
      <div class="mb-4 relative">
        <input autofocus class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600" id="password" type="password">
        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="password">Password</label>
      </div>
      <button class="bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded">Submit</button>
    </div>
  </div>
  </div>
</body>
</html>
